{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}/img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h2><strong>{{ .Site.Params.author }}</strong></h2>
        <h3>Wannabe Engineer</h3>
        <h3>Previously growth at Freshworks</h3>
        <h3>Contact me at <a href="http://twitter.com/{{ .Site.Params.Social.Twitter }}">@{{ .Site.Params.Social.Twitter }}</a> or by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
  </body>
</html>
